* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.game-card {
  border: 1px solid #bbbbbb;
  padding: 16px;
  width: fit-content;
}

.game-picture {
  width: 100%;
}

.image-container {
  position: relative;
}

/* ============= HEADER ============= */

header {
  width: 100%;
}

/* ============= POPUPS ============= */

.popup {
  position: absolute;
  display: flex;
  gap: 10px;
}

.target {
  background-color: #60a5fa50;
  border: 3px solid #60a5fa;
  width: 76px;
  height: 76px;
  border-radius: 100px;

  display: grid;
  place-content: center;
}

.target-dot {
  width: 3px;
  height: 3px;
  border-radius: 20px;
  background-color: #ef4444;
}

.dropdown {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  background-color: #60a5fa;
}

.dropdown button {
  padding: 4px 10px;
  border: none;
  background: none;
  cursor: pointer;
}

button:disabled {
  background-color: #dbeafe;
  color: #000;
}

.dropdown button:hover {
  background-color: #dbeafe;
}

.found-marker {
  background-color: #60a5fa50;
  border: 3px solid #4ade80;
  width: 4.5%;
  height: 4%;
}

.wrong-msg {
  background-color: #7f1d1d;
  border: 3px solid #ef4444;
  padding: 16px;
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.victory-menu {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  border: 3px solid #4ade80;
  padding: 16px;
  background-color: #eff6ff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}