* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.game-card {
  border: 1px solid #bbbbbb;
  padding: 16px;
  width: fit-content;
}

.game-picture {
  width: 100%;
}

.image-container {
  position: relative;
}

.popup {
  position: absolute;
  border: 3px solid rgb(30, 255, 0);
}